# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\BaiduNetdiskDownload\学习资料\微服务学习资料\day07-Elasticsearch03\资料\hotel-admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
